

/* .container {
} */

.topSection {
  border-top-style: solid;
  border-bottom-style: solid;
}

.titleContainer {
  display: flex;
  column-gap: 1rem;
}

.middleSection {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem 0 0.5rem;
  border-top-style: solid;
  border-bottom-style: solid;
}

.section1 {
  display: flex;
}

.name {
  flex-basis: 50%;
}

.group {
  flex-basis: 50%;
}

.section2 {
  display: flex;
  margin-bottom: 0.5rem;
}

.inputName {
  flex-basis: 50%;
}

.selectType {
  flex-basis: 50%;
}


.section3 {
  display: flex;
  margin-bottom: 0.5rem;
}

.dollarContainer {
  flex-basis: 50%;
  display: flex;
}

.balanceContainer {
  flex-basis: 50%;
  display: flex;
}

.balanceInput {
  width: 50%;
}

.section4 {
  display: flex;
  margin-bottom: 0.5rem;

}

.dashboardContainer {
  flex-basis: 50%;
  display: flex;
}

.submitContainer {
  flex-basis: 50%;
  display: flex;
}

.submitButton {
  width: 100%;
}




