.outergrid {
  height: 100vh;
  display: grid;
  grid-template-rows: var(--header-h) calc(100vh - var(--header-h));
  grid-template-columns: var(--sidebar-w) 1fr;
  grid-template-areas:
    "alias-header   alias-header"
    "alias-nav      alias-innergrid";
}

.header {
  grid-area: alias-header;
  background-color: var(--primary-blue);
}

.nav {
  grid-area: alias-nav;
  background-color: green;
}

.innergrid {
  grid-area: alias-innergrid;
  background-color: var(--light-gray);
}
