.container {
  display: flex;
  justify-content: center;
}

.customTransactionControl {
  width: 60%;
  margin-top: 3rem;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    width: 40%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  