.container {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  background-color: var(--white);
}

.headerSection {
  display: flex;
  padding: 0.5rem;
  background-color: var(--middle-gray);
}

.headerControls {
  display: flex;
  border: 1px solid var(--border-gray);
}

.addButton {
  display: flex;
  align-items: center;
  border: 0px;
  background-color: var(--white);
}

.addButton:hover {
  cursor: pointer;
}

.addIcon {
  padding: 0.2rem 0;
  background-color: var(--light-gray);
}

.addText {
  padding: 0 1rem;
}

.calendarButton {
  display: flex;
  align-items: center;
  border: 0px;
  background-color: var(--white);
}

.calendarButton:hover {
  cursor: pointer;
}

.calendarIcon {
  padding: 0.2rem 0;
  background-color: var(--light-gray);
}

.calendarText {
  padding: 0 1rem;
}

.filterButton {
  display: flex;
  align-items: center;
  border: 0px;
}

.filterButton:hover {
  cursor: pointer;
}

.filterIcon {
  padding: 0.2rem 0;
  background-color: var(--light-gray);
}

.mainSection {
  display: flex;
  padding: 0.5rem;
}

.footerSection {
  display: flex;
}

.transactionsListContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.transactionItem {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border-gray);
}

.itemLeftSide {
  display: flex;
  column-gap: 0.5rem;
}

.transactionDate {
  color: var(--dark-gray);
}

.transactionIcon {
  font-weight: 700;
  color: var(--dark-gray);
}

.transactionNote {
  color: var(--dark-gray);
}

.itemRightSide {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.amount {
}

.editIcon {
  padding: 0.4rem;
  border-radius: 50%;
  border: 1px solid var(--border-gray);
}

.editIcon:hover {
  cursor: pointer;
  background-color: var(--middle-gray);
}
